@model List<Product>
@{
    ViewData["Title"] = "GetProdByCatId";
    Layout = "_Layout";
}
<div class="row" style="margin-left:100px">
    @foreach (var item in Model)
    {
        <div id="Card" class="card col-sm-4 mb-4" style="width: 18rem;margin:20px">
            <img src="@item.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>@item.Name</h5>
                <h5 class="card-text">@item.Price</h5>
              <input id="@item.ID" type="button" onclick="addinfo(@item.ID)"
              value="Add To Cart " class="btn btn-primary" name="Add To Cart" >
              <br>
             <a href="/Product/Index?id=@item.ID">Show Details</a>
              

            </div>
        </div>
    }
</div>
@section Scripts {

    <script>
        let arr = []
        function addinfo(id) {
            arr.push(id)
            localStorage.setItem('userCart', JSON.stringify(arr))
            let items = JSON.parse(localStorage.getItem('userCart'))
            console.log(items)
            //document.getElementById('cart').textContent = items.length

        }
        document.getElementById("a").addEventListener("click", addinfo())



    </script>


}